<div *ngIf="selectedHero">
  <h1>{{selectedHero.name | uppercase}} Details</h1>
  <div><span>Id: </span>{{selectedHero.id}}</div>
  <div><span>Name: </span>{{selectedHero.name}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="selectedHero.name" placeholder="Name">
    </label>
  </div>
</div>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.id}} </span>
    <span class="badge">{{hero.name}}</span>
  </li>
</ul>
